@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Raleway&display=swap');

.navbar {
    background-color: transparent;
    color: #fff;
    padding: 0 30px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    color: #0072BB;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-family: Racing Sans One;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;

}

.navbar-logo img {
    height: 40px;
    width: auto;
    background-color: transparent;
    padding: 10px;
}

.navbar-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
}

.navbar-menu.active {
    height: auto;
}

.navbar-item {
    color: #0072BB;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;

}

.navbar-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar-icon {
    width: 30px;
    height: 3px;
    background-color: #fff;
    transition: transform 0.3s ease;
}

.navbar-icon.open {
    transform: rotate(45deg);
}

.navbar-icon::before,
.navbar-icon::after {
    content: '';
    width: 30px;
    height: 3px;
    background-color: #fff;
    transition: transform 0.3s ease;
}

.navbar-icon.open::before {
    transform: translateY(8px) rotate(-45deg);
}

.navbar-icon.open::after {
    transform: translateY(-8px) rotate(-45deg);
}

@media (min-width: 768px) {
    .navbar-menu {
        flex-direction: row;
        height: auto;
    }

    .navbar-toggle {
        display: none;
    }
}